@{
    ViewData["Title"] = "Home Page";
}

<div class="splash">
    <h1>Welcome to Contoso University</h1>
        <p>
            Where your goals become your reality.
        </p>
</div>

